PORT=         # Port the backend listens on (default: 4000) 
BANK_HOST=    # Bank server IP (default: 127.0.0.1)
BANK_PORT=    # Bank server port (default: 3000)
BUILD_DIR=../../build
AUTH_FILE=    # Path to the bank auth file (default: ../../build/bank.auth)
CARD_DIR=     # Path to the directory containing the card files (default: ../../build)
ATM_BIN=      # Path to the atm binary (default: ../../build/atm)